<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895454038383-nk7slg43gldc0a559o7gs3n6dp47kvgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895454038383-nk7slg43gldc0a559o7gs3n6dp47kvgh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>895454038383-qc49v4ao6kirak5isc430tu09ju509sn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkf7bK-AEN-9BFEUvP2sQGV_0U-0vvG8U</string>
	<key>GCM_SENDER_ID</key>
	<string>895454038383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-2fb89</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-2fb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895454038383:ios:5993a17097c820ed5e809a</string>
</dict>
</plist>